<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        
        <!-- Bootstrap -->
        <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
        <link href="/theme/css/font-awesome.css" rel="stylesheet">
        <link href="/theme/css/bootstrap-social.css" rel="stylesheet">
        <link href="/theme/css/overrides.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and categories %}
        {% for category, null in categories %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category.name }} Atom Feed" />
        {% endfor %}
        {% endif %}
        {% if CATEGORY_FEED_RSS and categories %}
        {% for category, null in categories %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endfor %}
        {% endif %}
        
        {% if GOOGLE_ANALYTICS is defined %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        
        {% block opengraph %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ self.title() }}" />
        {% endblock %}
        <meta name="image" content="{% block opengraph_image %}https://thawamerica.org/static/logoSmall.png{% endblock %}" />
        {% block twittermeta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thawamerica">
        <meta name="twitter:creator" content="@thawamerica">
        <meta name="twitter:title" content="{{ self.title() }}">
        {% endblock %}
        {% block twitterimage %}
        <meta name="twitter:image" content="{% block twitter_image %}https://thawamerica.org/static/logoTwitter.png{% endblock %}">
        {% endblock %}
        
        {% endblock head %}
</head>

  <body>
    <div class="container">
      <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Thaw America</a>
          </div>
          <!-- Collection of nav links and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% for text, link, match in NAVBAR_ITEMS %}
                {% set spage = page|string %}
                <li {% if spage.startswith(PATH + match) or (not page is defined and match == "/blog" ) %} class="active"{% endif %}><a href="{{ link }}">{{url}}{{ text }}</a></li>
              {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-social-icon btn-rss" rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><span class="fa fa-rss"></span></a></li>
              <li><a class="btn btn-social-icon btn-envelope" href="http://eepurl.com/cxwSzj" id="mailchimp-popup" target="_blank"><span class="fa fa-envelope"></span></a></li>
              <li><a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ThawAmerica" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li><a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/thawamerica" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a class="btn btn-social-icon btn-tumblr" href="https://thawamerica.tumblr.com/" target="_blank"><span class="fa fa-tumblr"></span></a></li>
              <li><a class="btn btn-social-icon btn-medium" href="https://medium.com/@thawamerica" target="_blank"><span class="fa fa-medium"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script>
      function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"e142cf224a27d483acb85a738","lid":"e2e7555d6d"}) })
        document.cookie = "MCEvilPopupClosed=yes; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
      };

      document.getElementById("mailchimp-popup").onclick = function() {showMailingPopUp();return false};
    </script>
  </body>
</html>
