body {
	font-size: 2em;
	line-height: 1.5em;
	padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
}

.navbar-default,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #0000bc;
	border-color: #ccc;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #ccc;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ccc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #3333ef;
	color: white;
}

table, th, td {
	vertical-align: top;
	padding: 7px;
	border-bottom: 1px solid black;
}

ul.navbar-right {
	margin-top: 7px;
}

ul.navbar-right li {
	display: inline-block;
}

ul.navbar-right li:first-child a {
	margin-left: 15px;
}

ul.navbar-right li:last-child a {
	margin-right: 15px;
}

.btn-medium{
	color:#fff;
	background-color:#14c767;
	border-color:rgba(0,0,0,0.2)
}

.btn-envelope{
	color:#fff;
	background-color:#bf0000;
	border-color:rgba(0,0,0,0.2)
}

.btn-rss{
	color:#fff;
	background-color:#f88017;
	border-color:rgba(0,0,0,0.2)
}

div.entry-content p img {
	max-width: 100%;
}

div#blog-page-content {
	border-right: 1px solid #eee;
}

div.fb-like {
	top: -8px;
}

div.article-social-buttons-left {
	text-align: right;
}
